body{
    overflow: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    width: 100vw;
    height: 20vh;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left,.right{
    height: 60vh;
    width: 20vw;
    background: green;
}
.reverse{
   /*  float: right; */
}
.left{
    float: right;
}
.footer{
    width: 100vw;
    height: 20vh;
    background: blue;
    transform: translateY(100%);
}
button{
    font-size:2.5rem;
    padding:.5rem 1rem
    
}